################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gordeszka_sim/.vs/Gordeszka_sim
/Gordeszka_sim/Gordeszka_sim/obj
/Gordeszka_sim/Gordeszka_sim/bin/Debug/net8.0
/Gordeszka_sim/.vs/ProjectEvaluation
